<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" crossorigin="anonymous">
    <!--Bootstrap 4 -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Custom CSS -->

    <title>Informacion clientes</title>
  </head>
  <body>

    <!--Navegación-->
    <%include ../partials/header%>

    <!-- Cabecera -->
    <header>
      <div style="background-image: url(img/5.jpg);background-size: cover; background-repeat: no-repeat; width: 100%; height: 300px;">
      </div>
      <div >
        <div class="col">
          <br>
          <div class="tituloReq8">Listado de los clientes en las habitaciones ocupadas</div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row mt-7">
        <div class="col-md-9">
          <table class="table table-bordered table-hover">

            <h1>Clientes actuales en el hotel</h1>

            <thead>
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Tipo de habitacion</th>
                <th>Numero habitacion</th>
                <th>Dias de huesped</th>
              </tr>
            </thead>

            <tbody>
              <% if (data) {%>
                <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                      <td><%= data[i].id %></td>
                      <td><%= data[i].FName %></td>
                      <td><%= data[i].LName %></td>
                      <td><%= data[i].Phone %></td>
                      <td><%= data[i].Email %></td>
                      <td><%= data[i].TRoom %></td>
                      <td><%= data[i].NRoom %></td>
                      <td><%= data[i].nodays %></td>
                    </tr>
                <% } %>
              <% } %>
            </tbody>

            </table>
        </div>
      </div>
    </div>
    <!-- Pie de pagina -->
    <%include ../partials/footer%>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->
  </body>
</html>
